{% extends 'base.html' %}

        {% block title %}
        {{page}}
        {% endblock %}

        {% block content %}

        {% block background-image %}
        {% include 'background_image.html' %}
        {% endblock %}
          
                <section class="ftco-section">
                      <div class="container">
                              <div class="row">
                                {% for item in item %}
                                      <div class="col-lg-6 mb-5 ftco-animate">
                                        <a href="{{item.item_image.url}}" class="image-popup"><img src="{{item.item_image.url}}" class="img-fluid" alt=""></a>
                                      </div>
                                      <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                                              <h3> {{item.title}} </h3>
                                              <div class="rating d-flex">
                                                                  <p class="text-left mr-4">
                                                                          <a href="#" class="mr-2"> {{item.rating}} </a>
                                                                          <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                                          <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                                          <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                                          <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                                          <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                                  </p>
                                                                  <p class="text-left mr-4 counter-wrap ftco-animate">
                                                                          <a href="#" class="mr-2 number" style="color: #000;" data-number="99">99% <span style="color: #bbb;">Rating</span></a>
                                                                  </p>
                                                                  <p class="text-left">
                                                                          <a href="#" class="mr-2" style="color: #000;">500+ <span style="color: #bbb;">Sold</span></a>
                                                                  </p>
                                                          </div>
                                              <p class="price"><span>${{item.price}} </span></p>
                                              <p>
                                                {{item.description}}
                                              </p>
                                                <div class="row mt-4">
                                                <div class="col-md-6">
                                                <div class="form-group d-flex">
                                        <div class="select-wrap">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="" id="" class="form-control">
                                      <option value="">Medium</option>
                                      <option value="">Small</option selected>
                                      <option value="">Large</option>
                                      <!-- <option value="">Extra Large</option> -->
                                    </select>
                                    </div>
                                      </div>
                                        </div>
                                        <div class="w-100"></div>
                                        <div class="input-group col-md-6 d-flex mb-3">
                                       <span class="input-group-btn mr-2">
                                          <button type="button" class="quantity-left-minus btn"  data-type="minus" data-field="">
                                                <a href="{{item.get_remove_item_from_cart_url}}">
                                                        <i class="ion-ios-remove"></i>
                                                </a>
                                        </button>
                                        </span>
                                       <input type="text" id="quantity" name="quantity" class="form-control input-number" value="{{order_item.quantity}}" readonly min="1" max="100">
                                       <span class="input-group-btn ml-2">
                                          <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                                                <a href="{{item.get_add_to_cart_url}}">
                                                        <i class="ion-ios-add"></i>
                                                </a>
                                        </button>  
                                        </button>
                                       </span>
                                    </div>
                                    <div class="w-100"></div>
                                    <div class="col-md-12">
                                        <p style="color: #000;"> <!--quantity--> Available</p>
                                    </div>
                            </div>
                            <p><a href="{{item.get_add_to_cart_url}}" class="btn btn-black py-3 px-5">Add to Cart</a></p>
                                </div>
                            {% endfor %}
                        </div>
                      </div>
                </section>
          
                <section class="ftco-section">
                      <div class="container">
                      <div class="row justify-content-center mb-3 pb-3">
                      <div class="col-md-12 heading-section text-center ftco-animate">
                            <span class="subheading">Products</span>
                            <h2 class="mb-4">Related Products</h2>
                      <p>Order other quality related products from our grocer.</p>
                      </div>
                      </div>   		
                      </div>
                      <div class="container">
                              <div class="row">
                                {% for related_product in related_products %}
                                <div class="col-md-6 col-lg-3 ftco-animate">
                                        <div class="product">
                                            <a href="{{related_product.get_absolute_url}}" class="img-prod"><img class="img-fluid" src="{{related_product.item_image.url}}" alt="{{related_product.title}}">
                                                <span class="status"> {% if not related_product.percentage_discount == None %} {{related_product.percentage_discount|floatformat:1}}% {% endif %} </span>
                                                <div class="overlay"></div>
                                            </a>
                                            <div class="text py-3 pb-4 px-3 text-center">
                                              <h3> {{related_product.get_category_display}} </h3>
                                              <h3>
                                                  <a href="{{item.get_absolute_url}}"> {{related_product.title}} 
                                                      <span class="badge badge-pill {{related_product.get_label_display}}-color"> Fresh </span>
                                                  </a>
                                              </h3>
                                              <div class="d-flex">
                                                    <div class="pricing">
                                                        <p class="price"><span class="mr-2 price-dc">
                                                          {% if not related_product.price_before_discount == None %} ${{related_product.price_before_discount|floatformat:2}} {% endif %}
                                                          </span><span class="price-sale"> ${{related_product.price|floatformat:2}} </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="bottom-area d-flex px-3">
                                                    <div class="m-auto d-flex">
                                                        <a href="{{related_product.get_absolute_url}}" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                                            <span><i class="ion-ios-menu"></i></span>
                                                        </a>
                                                        <a href="{{related_product.get_add_to_cart_url}}" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                            <span><i class="ion-ios-cart"></i></span>
                                                        </a>
                                                        <a href="" class="heart d-flex justify-content-center align-items-center ">
                                                            <span><i class="ion-ios-heart"></i></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                  </div>
                                {% empty %}
                                  <p>No related items Available. Maybe check later !</p>
                                {% endfor %}
                              </div>
                      </div>
              </section>
          
        {% endblock %}