{% extends 'base.html' %}

        {% block title %}
        {{page}}
        {% endblock %}

        {% block content %}
          {% block background-image %}
          {% include 'background_image.html' %}
          {% endblock %}
      
          <section class="ftco-section ftco-cart">
                  <div class="container">
                      <div class="row">
                      <div class="col-md-6 ftco-animate mx-auto">
                          <a href="{% url 'wishlist:wishlist_dashboard' %}" class="btn btn-primary  py-3 px-4">
                              Add Wishlist Items? Create a wishlist.
                              <h4 class="text-success">Add favorite items and purchase later</h4>
                          </a>
                      </div>
                      </div>
                  </div>
          </section>
      
        {% endblock %}