{% load static %} 
{% load query_tags %}
        {% block content %}
        <!-- background image sliders -->
        <section id="home-section" class="hero">
            <div class="home-slider owl-carousel">
                <div class="slider-item" style="background-image: url(/static/images/bg_1.jpg);">
                    <div class="overlay"></div>
                        <div class="container">
                            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                            <div class="col-md-12 ftco-animate text-center">
                                <h1 class="mb-2">We serve Fresh Veges tables &amp; Fruits</h1>
                                <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
                                <p><a href="{% url 'about:about' %}" class="btn btn-primary">View Details</a></p>
                            </div>

                    </div>
                </div>
            </div>

            <div class="slider-item" style=" background-image: url(/static/images/bg_2.jpg);">
                <div class="overlay"></div>
                <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-sm-12 ftco-animate text-center">
                    <h1 class="mb-2">99% Fresh &amp; Organic Foods</h1>
                    <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
                    <p><a href="{% url 'about:about' %}" class="btn btn-primary">View Details</a></p>
                    </div>

                </div>
                </div>
                </div>
            </div>
        </section>
        <!-- qualities -->
        <section class="ftco-section">
            <div class="container">
            <div class="row no-gutters ftco-services">
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <a href="{% url 'shop:check-out' %}">
                <div class="media block-6 services mb-md-0 mb-4">
                <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-shipped"></span>
                </div>
                <div class="media-body">
                    <h3 class="heading">Shipping</h3>
                        <span>Timely customer delivery</span>
                </div>
                </div>
                </a>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <a href="{% url 'shop:shop' %}">
                <div class="media block-6 services mb-md-0 mb-4">
                <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-diet"></span>
                </div>
                <div class="media-body">
                    <h3 class="heading">Fresh Products</h3>
                    <span>Robust packaging</span>
                </div>
                </div>
                </a>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <a href="{% url 'blog:blog' %}">
                <div class="media block-6 services mb-md-0 mb-4">
                <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-award"></span>
                </div>
                <div class="media-body">
                    <h3 class="heading">Superior Producers</h3>
                    <span>Serve Quality Products</span>
                </div>
                </div>
                </a> 
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <a href="{% url 'contacts:contacts' %}">
                <div class="media block-6 services mb-md-0 mb-4">
                <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-customer-service"></span>
                </div>
                <div class="media-body">
                    <h3 class="heading">Extended Support</h3>
                    <span>24/7 Support</span>
                </div>
                </div>
                </a>  
            </div>
            </div>
            </div>
        </section>
            <!-- categories showcase -->
            <section class="ftco-section ftco-category ftco-no-pt">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6 order-md-last align-items-stretch d-flex">
                                    <div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url(/static/images/category.jpg);">
                                        <div class="text text-center">
                                            <h2>Vegetables</h2>
                                            <p>Protect the health of every home</p>
                                            <p><a href="{% url 'shop:shop' %}" class="btn btn-primary">Shop now</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    {% with category=categories|get_item:0 %}
                                        {% if category %}                                        
                                        <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url({{category.image.url}});">
                                            <div class="text px-3 py-1">
                                                <h2 class="mb-0"><a href="#">Fruits</a></h2>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endwith %}
                                    {% with category=categories|get_item:1 %}
                                        {% if category %}                                        
                                        <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url({{category.image.url}});">
                                            <div class="text px-3 py-1">
                                                <h2 class="mb-0"><a href="#">Vegetables</a></h2>
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endwith %}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            {% with category=categories|get_item:2 %}
                                {% if category %}                                
                                <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url({{category.image.url}});">
                                    <div class="text px-3 py-1">
                                        <h2 class="mb-0"><a href="#">Dried</a></h2>
                                    </div>		
                                </div>
                                {% endif %}
                            {% endwith %}
                            {% with category=categories|get_item:3 %}
                                {% if category %}                                
                                <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url({{category.image.url}});">
                                    <div class="text px-3 py-1">
                                        <h2 class="mb-0"><a href="#">Juices</a></h2>
                                    </div>
                                </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </section>
            <!-- products sho case -->
        <section class="ftco-section">
            <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">Featured Products</span>
                <h2 class="mb-4">Our Products</h2>
                <p>Experience the best services from the leading grocery offering quality products</p>
            </div>
            </div>   		
            </div>
            <div class="container">
                <div class="row">
                {% for item in items %}
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                        <a href="{{item.get_absolute_url}}" class="img-prod"><img class="img-fluid" src="{{item.item_image.url}}" alt="{{item.title}}">
                                {% if not item.percentage_discount == None %}
                                    <span class="status"> {{item.percentage_discount|floatformat:1}}% </span>
                                {% endif %}
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="#"> {{item.title}} </a></h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price">
                                            {% if not item.price_before_discount == None %}
                                            <span class="mr-2 price-dc">${{item.price_before_discount|floatformat:2}} </span>
                                            {% endif %}
                                            <span class="price-sale">${{item.price|floatformat:2}}  </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">
                                    <div class="m-auto d-flex">
                                        <a href="{{item.get_absolute_url}}" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                            <span><i class="ion-ios-menu"></i></span>
                                        </a>
                                        <a href="{{item.get_add_to_cart_url}}" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                            <span><i class="ion-ios-cart"></i></span>
                                        </a>
                                        <!-- to add wishlist url in home and shop -->
                                        
                                        <a href="{{item_wish.get_add_to_wishlist_url}}" class="heart d-flex justify-content-center align-items-center ">
                                            <span><i class="ion-ios-heart"></i></span>
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}                    
                </div>
            </div>
        </section>
            <!-- deal of the day -->
        <section class="ftco-section img" style="background-image: url(/static/images/bg_3.jpg);">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate">
                        <span class="subheading">Best Price For You</span>
                        <h2 class="mb-4">Deal of the day</h2>
                        <p>Have an experince on the deal of the day products with massive discounts.Don't miss to checkout daily !</p>
                        <h3><a href="#">Spinach</a></h3>
                        <span class="price">$10 <a href="#">now $5 only</a></span>
                        <div id="timer" class="d-flex mt-5">
                                    <div class="time" id="days"></div>
                                    <div class="time pl-3" id="hours"></div>
                                    <div class="time pl-3" id="minutes"></div>
                                    <div class="time pl-3" id="seconds"></div>
                        </div>
                    </div>
                </div>   		
            </div>
        </section>
        <!-- customer testimonials -->
        <section class="ftco-section testimony-section">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <span class="subheading">Testimony</span>
                    <h2 class="mb-4">Our satisfied customer says</h2>
                    <p>
                        Vege foods has been a monster life saver to many by offering organic quality produces for all.
                        It has aided in maintaining good family health.
                    </p>
                </div>
                </div>
                <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel">
                        {% for customer_testimony in customer_testimonies %}
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url('{{customer_testimony.customer_avatar.url}}')">
                                <span class="quote d-flex align-items-center justify-content-center">
                                <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text text-center">
                                <p class="mb-5 pl-4 line"> {{customer_testimony.customer_testimony}}  </p>
                                <p class="name"> {{customer_testimony.customer_name}} </p>
                                <span class="position"> 
                                    {{customer_testimony.customer_position}}
                                    <small><em> {{customer_testimony.customer_location.capitalize}} </em></small>
                                </span>
                            </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                </div>
            </div>
        </section>

        <hr>
        <!-- partners  -->
        <section class="ftco-section ftco-partner">
            <div class="container">
                <div class="row">
                    <div class="col-sm ftco-animate">
                        <a href="#" class="partner"><img src="{% static 'images/partner-1.png' %}" class="img-fluid" alt=""></a>
                    </div>
                    <div class="col-sm ftco-animate">
                        <a href="#" class="partner"><img src="{% static 'images/partner-2.png' %}" class="img-fluid" alt=""></a>
                    </div>
                    <div class="col-sm ftco-animate">
                        <a href="#" class="partner"><img src="{% static 'images/partner-3.png' %}" class="img-fluid" alt="image"></a>
                    </div>
                    <div class="col-sm ftco-animate">
                        <a href="#" class="partner"><img src="{% static 'images/partner-4.png' %}" class="img-fluid" alt="image"></a>
                    </div>
                    <div class="col-sm ftco-animate">
                        <a href="#" class="partner"><img src="{% static 'images/partner-5.png' %}" class="img-fluid" alt="image"></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Newsletter -->
        <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
            <div class="container py-4">
                <div class="row d-flex justify-content-center py-5">
                <div class="col-md-6">
                    <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
                    <span>Get e-mail updates about our latest shops and special offers</span>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                        <input type="text" class="form-control" placeholder="Enter email address">
                        <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                    </form>
                </div>
                </div>
            </div>
        </section>
        {% endblock %}