        {% block content %}

        {% block background-image %}
        {% include 'background_image.html' %}
        {% endblock %}
      
          <section class="ftco-section ftco-degree-bg">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 ftco-animate">
                      <div class="row">

                        
                        {% for blog in blogs %}
                        <div class="col-md-12 d-flex ftco-animate">
                          <div class="blog-entry align-self-stretch d-md-flex">
                            <a href="{{blog.get_absolute_url}}" class="block-20" style="background-image: url('{{blog.background_image.url}}');">
                            </a>
                            <div class="text d-block pl-md-4">
                                <div class="meta mb-3">
                                <div><a href="{{blog.get_absolute_url}}"> {{blog.posted_at|date:"F j, Y"}} </a></div>
                                <div><a href="{{blog.get_absolute_url}}"> <small> @{{request.user}} </small> </a></div>
                                <div><a href="{{blog.get_absolute_url}}" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                              </div>
                              <h3 class="heading"><a href="{{blog.get_absolute_url}}"> {{blog.heading}} </a></h3>
                              <p> {{blog.description | truncatewords:10}} </p>
                              <p><a href="{{blog.get_absolute_url}}" class="btn btn-primary py-2 px-3">Read more</a></p>
                            </div>
                          </div>
                        </div>
                        {% empty %}
                        <h3 class="heading"><a href="#">No blogs available yet. Maybe check later !</a></h3>

                        {% endfor %}
                        

                      </div>
                </div> <!-- .col-md-8 -->
                <div class="col-lg-4 sidebar ftco-animate">
                  <div class="sidebar-box">
                    <form action="#" class="search-form">
                      <div class="form-group">
                        <span class="icon ion-ios-search"></span>
                        <input type="text" class="form-control" placeholder="Search...">
                      </div>
                    </form>
                  </div>
                  <div class="sidebar-box ftco-animate">
                      <h3 class="heading">Categories</h3>
                    <ul class="categories">
                      {% for category in categories %}
                      <li><a href="#"> {{category.name}} <span>({{category.blog_set.all.count}})</span></a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  
                  {% for blog in blogs|slice:"3" %}
                  <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Recent Blogs</h3>
                    <div class="block-21 mb-4 d-flex">
                      <a href="{{blog.get_absolute_url}}" class="blog-img mr-4" style="background-image: url({{blog.background_image.url}});"></a>
                      <div class="text">
                        <h3 class="heading-1"><a href="{{blog.get_absolute_url}}"> {{blog.heading}} </a></h3>
                        <div class="meta">
                          <div><a href="{{blog.get_absolute_url}}"><span class="icon-calendar"></span> {{blog.posted_at|timesince|slice:":8"}} ago </a></div>
                          <div><a href="{{blog.get_absolute_url}}"><span class="icon-person"></span> <small> @{{request.user}} </small> </a></div>
                          <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                        </div>
                      </div>
                    </div>

                  </div>
                  {% endfor %}
      
                  <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Tag Cloud</h3>
                    <div class="tagcloud">
                      <a href="#" class="tag-cloud-link">fruits</a>
                      <a href="#" class="tag-cloud-link">tomatoe</a>
                      <a href="#" class="tag-cloud-link">mango</a>
                      <a href="#" class="tag-cloud-link">apple</a>
                      <a href="#" class="tag-cloud-link">carrots</a>
                      <a href="#" class="tag-cloud-link">orange</a>
                      <a href="#" class="tag-cloud-link">pepper</a>
                      <a href="#" class="tag-cloud-link">eggplant</a>
                    </div>
                  </div>
      
                  <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Paragraph</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                  </div>
                </div>
      
              </div>
            </div>
          </section> <!-- .section -->
      
        {% endblock %}